.section-header {
  border-bottom: 3px solid #004525;
  display: flex;
  line-height: 7rem;
}

#aboutLC > img {
  display: block;
  margin: 2rem auto;
}

section {
  margin-bottom: 100px;
}

p {
  line-height: 2;
}

section.in-charge {
  display: flex;
  flex-direction: column;
}

.in-charge-card {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  flex-direction: column;
  width: 45%;
}

.in-charge-card > img {
  width: 20rem;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 2px;
}

.in-charge-card > p > img,
.in-charge-card > a > img {
  margin-right: 1rem;
}

.in-charge-card > p {
  margin: 1rem 0;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

#in-charge-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn1 {
  display: block;
  margin: auto;
  padding: 10px;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #00703c;
  color: #ffffff !important;
  border: solid 2px #00703c;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 26px;
}

.btn1:hover {
  border: solid 2px #004525;
  background-color: #004525;
}