<!-- Beginning of tutor card -->
<div class="tutor-card" id="MATH-1241">
    <div style="background-color: #e7e7e7; width: 201px; height: 301px;"></div>
    <div class="tutor-card-text-container">
        <h3>Mason Beard</h3>
        <h4>MATH 1241</h4>
        <br />
        <strong>About the tutor:</strong>
        <p>
            Sumo dicunt quo te, ne eos solet reprimique. Vel sententiae
            mediocritatem no, ad paulo mediocritatem vel. Ei pri rebum
            viderer voluptua, in noster meliore vel, ad ius modus
            probatus mandamus. Mel solet utamur referrentur no. Esse
            iusto liberavisse nec te, et feugiat elaboraret sed. Eu
            mollis facilisi sed.
        </p>
    </div>
    <div class="tutor-hours">
        <img src="icons/down-arrow.svg" alt="show-menu" />
        <div class="hours-content">
            <h2 class="block-title">Hours and Location</h2>
            <div class="operation-hours">
                <ul id="days">
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                    <li>Sunday</li>
                </ul>
                <ul id="times">
                    <li>Closed</li>
                    <li>4:30pm-7:00pm</li>
                    <li>12:00pm-5:00pm</li>
                    <li>4:30pm-7:00pm</li>
                    <li>Closed</li>
                    <li>Closed</li>
                    <li>Closed</li>
                </ul>
                <ul id="location">
                    <li>Closed</li>
                    <li>Hawthorn 2nd Floor Lounge</li>
                    <li>Hawthorn 2nd Floor Lounge</li>
                    <li>Hawthorn 2nd Floor Lounge</li>
                    <li>Closed</li>
                    <li>None</li>
                    <li>None</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of tutor card -->