.event-container {
  display: flex;
  margin: 3rem;
}

.event-content {
  margin: 5rem 2rem;
  display: block;
  width: 40%;
  text-align: right;
}

.event-content h4 {
  margin-bottom: 4rem;
}

.event-content p,
.event-content strong {
  text-align: left;
  display: block;
}

.event-container img {
  width: 400px;
  height: 500px;
  border: 2px solid #004525;
  padding: 5px;
}

main section {
  margin-bottom: 3rem;
}

.section-header {
  border-bottom: 3px solid #004525;
  line-height: 7rem;
}

#important-dates {
  display: flex;
}

#dates, #descriptions {
  list-style: none;
}

#descriptions {
  padding-left: 0;
}

#descriptions li {
  list-style: none;
  padding-left: 0;
  text-indent: 5rem;
  padding-right: 1rem;
}

#dates li {
  text-indent: 1rem;
}

#important-dates li {
  margin: 2rem 0;
  border-bottom: 1px solid black;
}
