.operation-hours {
  margin-top: 2px;
  background-color: #e7e7e7;
  display: flex;
}

.operation-hours ul {
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

#days li {
  list-style: none;
  color: #004525;
  text-align: left;
  margin: 0.5rem;
}

#times li {
  list-style: none;
  color: #333333;
  text-align: center;
  margin: 0.5rem;
}

.section-header {
  border-bottom: 3px solid #004525;
  line-height: 7rem;
}

main section {
  margin-bottom: 5rem;
}

.queen-content {
  display: flex;
  justify-content: space-between;
}

.queen-text {
  width: 55%;
  margin-top: 5rem;
  margin-right: 5px;
}

.queen-text h3 {
  text-align: center;
}

.designChallenge-content {
  text-align: center;
  margin: auto;
}

.previous-winner {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.previous-winner-text {
  margin: 1rem;
  margin-top: 6rem;
  text-align: right;
}

.previous-winner img {
  height: 30rem;
}

#img-collection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#img-collection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#img-collection img:last-child {
  margin: 2rem;
}

#about-section > img {
  float: right;
}

#about-section li {
  margin: 0.5rem 0;
}

#about-section ul {
  list-style: square;
}

#prints-section {
  position: relative;
}

#slideshow-content {
  justify-content: center;
  display: flex;
  align-items: center;
}

#disclaimer {
  background-color: #e7e7e7;
  margin-top: 2px;
  padding: 1rem;
  text-align: justify;
}

img#design_challenge {
  width: 50rem;
}