aside {
  flex-basis: 85%;
}

aside section {
  margin-bottom: 10rem !important;
}

nav.side-nav ul {
  list-style: none;
  padding: 0;
}

nav.side-nav ul li {
  margin-bottom: 0;
  border: solid 1px #e7e7e7;
  padding: 1rem;
  position: relative;
  transition: background-color linear 100ms;
}

nav.side-nav ul a {
  text-decoration: none;
  color: #333333;
}

nav.side-nav ul li:not(.active):hover {
  background-color: #b3a369;
}

nav.side-nav li.active {
  border: solid 2px #004525;
  border-left: solid 5px #004525;
}

ul.nav-sub-menu {
  height: 0;
  overflow: hidden;
  transition: height linear 250ms;
  background-color: #e7e7e7;
  border: none !important;
  margin: 0;
}

ul.nav-sub-menu li {
  border: none;
  padding-left: 5rem !important;
}

ul.nav-sub-menu.open {
  height: 13rem;
  overflow: hidden;
}

ul.nav-sub-menu.open {
  height: 13rem;
  overflow: hidden;
}

.menu-arrow {
  position: absolute;
  right: 2rem;
  transition: transform linear 250ms;
}
