.section-header {
  border-bottom: 3px solid #004525;
  display: flex;
  line-height: 7rem;
}

#aboutLC > img {
  display: block;
  margin: 2rem auto;
}

#goalsLC {
  margin: 3rem 0;
}

p {
  line-height: 2;
}

section.in-charge {
  display: flex;
  flex-direction: column;
}

.in-charge-card {
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  flex-direction: column;
  width: 45%;
  border: 4px solid #004525;
}

.in-charge-card > img {
  width: 20rem;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px black;
}

.in-charge-card > p > img,
.in-charge-card > a > img {
  margin-right: 1rem;
}

.in-charge-card > p {
  margin: 1rem 0;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

#in-charge-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}