html {
  scroll-behavior: smooth;
}

.section-header {
  border-bottom: 3px solid #004525;
  line-height: 7rem;
}

section.about-tutoring ul {
  list-style: square;
}

section.about-tutoring ul li {
  margin: 1rem;
}

.tutor-card {
  background: linear-gradient(to right, #e7e7e7, white);
  margin: 4rem auto;
  width: 80%;
  padding: 1rem;
  display: flex;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

.tutor-card p {
  width: 90%;
}

.tutor-card-text-container {
  display: block;
  flex: 2;
  margin-left: 2rem;
  margin-top: 2rem;
}

.tutor-hours {
  position: absolute;
  background-color: #e7e7e7;
  border-radius: 1rem 0 0 1rem;
  height: 95%;
  max-width: 3rem;
  right: 0;
  top: 1rem;
  transition: max-width ease-in-out 500ms;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.hours-content {
  margin: auto;
  margin-left: 1rem;
}

.tutor-hours img {
  transition: transform linear 100ms;
  transform: rotate(90deg);
}

.tutor-hours.open img {
  transform: rotate(270deg);
}

.tutor-hours.open {
  max-width: 70rem;
}

.tutor-hours h2 {
  padding: 1rem;
  text-align: center;
  background-color: #004525;
  color: #ffffff;
}

.operation-hours {
  margin-top: 2px;
  background-color: #e7e7e7;
  display: flex;
  margin: auto;
}

.operation-hours ul {
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.days li {
  list-style: none;
  color: #004525;
  text-align: left;
  margin: 0.5rem;
}

.times li,
.location li {
  list-style: none;
  color: #333333;
  text-align: center;
  margin: 0.5rem;
}
