html {
  scroll-behavior: smooth;
}

.section-header {
  border-bottom: 3px solid #004525;
  line-height: 7rem;
}

section.about-tutoring ul {
  list-style: square;
}

section.about-tutoring ul li {
  margin: 1rem;
}

.tutor-card {
  background: linear-gradient(to right, #e7e7e7, white);
  margin: 4rem auto;
  width: 85%;
  padding: 1rem;
  display: flex;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

.tutor-card p {
  width: 90%;
}

.tutor-card-text-container {
  display: block;
  flex: 2;
  margin-left: 2rem;
  margin-top: 2rem;
}

.tutor-card-text-container div {
  margin: 20px 0;
}

.tutor-hours {
  position: absolute;
  background-color: #205c40;
  height: 100%;
  width: 3rem;
  right: 0;
  top: 0;
  transition: width ease-in-out 500ms;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

table {
  margin: auto;
  width: 90%;
  margin-left: 1rem;
  background-color: #e7e7e7;
  border-collapse: inherit;
}

th {
  padding: 5px 20px;
  background-color: #B3A369;
  color: black;
}

td {
  padding: 10px 20px !important;
}

tr:nth-child(odd) {
  background-color: white;
}

.tutor-hours #arrow {
  transition: transform linear 100ms;
  font-size: 50px;
  color: #e7e7e7;
  margin: auto;
  padding: 0;
  margin-left: 8px;
}

.tutor-hours.open #arrow {
  transform: rotateZ(180deg);
  transform-origin: center;
}

.tutor-hours.open {
  width: 100%;
}

caption {
  text-align: center;
  color: white;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 24px;
}

.operation-hours {
  margin-top: 2px;
  display: flex;
  margin: auto;
}

.operation-hours ul {
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.days li {
  list-style: none;
  color: #004525;
  text-align: left;
  margin: 0.5rem;
}

.times li,
.location li {
  list-style: none;
  color: #333333;
  text-align: center;
  margin: 0.5rem;
}
